/* Page Wide Styles */
body {
	font-family: Arial, Helvetica, sans-serif;
}

main {
	margin-top: 10px;
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 10px;
}

nav ul li {
     display: inline;
     color: #9A9A9A;
}

ol, ul {
     padding: 0px;
}

/* Header Styles */
header {
     background-color: black;
     position: relative;
     text-align: center;
}

header h2 {
     color: #72AB00;
     margin-top: 40px;
     margin-left: 170px;
     padding-bottom: 20px;
}

header nav {
     text-align: center;
     text-transform: uppercase;
     top: 60px;
     float: center;
     font-weight: bold;
}

header nav a:link {
     color: #9A9A9A;
     text-decoration: none;
}

header nav a:visited {
     color: #9A9A9A;
     text-decoration: none;
}

header nav a:hover {
     color: #72AB00;
     box-shadow: inset 0px 2px #72AB00;
}

header nav a:active {
     color: #72AB00;
     text-decoration: none;
}

/* Article Styles */

article {
     clear: right;
}

.Contact {
     clear: right;
     width: 919px;
     height: 364px;
     border-radius: 5px;
     background-color: #F6F6F6;
     margin: 0px auto;
     border: 1px solid #9A9A9A;
     padding-left: 50px;
     box-sizing: padding-box;
}

.Contact h1 {
     color: #72AB00;
}

section {
     width: 700px;
     margin-left: 170px;
}

section h2 {
     box-shadow: 0px 1px #9A9A9A;
}

section ol {
     list-style: none;
}

.Professional {

}

/* Footer Styles */
footer {
     box-shadow: inset 0px 3px #000000;
     position: relative;
}

footer p {
     padding-top: 20px;
}
footer fgroup {
     position: relative;
     text-align: right;
     top: -35px;
}
footer ul li {
     display: inline;
     color: #9A9A9A;
}
